
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
li{
    list-style: none;
    padding-top: 12px;
}
a{
    text-decoration: none;
    color: aliceblue;
}

footer{
    background-color: rgb(0, 0, 0);
    display: grid;
  
    grid-template-columns: 300px 300px 1fr ;
   
    
    width: 100%;
    height: 80%;
    
    
    
   
}
.div3{
    text-align: right;
    padding: 40px 50px;
    background-color: rgb(0, 0, 0);
    height: 100%;
}
.div1{
   
    text-align: left;
    padding: 40px 50px;
    background-color: rgb(0, 0, 0);
    height: 100%;
}
.div2{
    
    padding: 40px 50px;
    height: 100%;
    background-color: rgb(99, 136, 136);
}
.div4{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
    
    
  
    color: white;
    text-align: center;
}
.div4 p{
    margin-top: 20px;
}
h3{
    margin-bottom: 10px;
}
iframe{
    
    margin-top: 20px;
}
@media (max-width:600px){
  footer{
      display: block;
      padding: 30px 30px;
  }
  iframe{
      width: 310px;
      margin-top: 20px;
  }
  a,p{
      font-size: 14px;
  }
  .div3{
    text-align: left;
    margin-top: 30px;
}
.div1,.div2,.div3{
    padding:10px 8px;
}

}
